[Match]
Name=firecracker0

[Network]
Address=10.0.0.1/24
Gateway=10.0.0.1
DNS=10.0.0.1
DHCP=no
IPv4Forwarding=yes
IPMasquerade=ipv4

[Link]
ConfigureWithoutCarrier=yes
RequiredForOnline=no
